:root {
  --theme-ui-colors-gray-6: #718096;
  --theme-ui-colors-gray-7: #4a5568;
  --theme-ui-colors-gray-8: #2d3748;
  --theme-ui-colors-gray-9: #1a202c;
  --theme-ui-colors-primary: #ff8674;
  --theme-ui-colors-harvestGold: #d7af70;
  --theme-ui-colors-pelorus: #35bcbc;
}

html, body {
  height: 100%;
}

#__next {
  height: 100%;
}

.next-img-fix > span {
  /* 解決 Next Image 父層底部留白的問題 */
  vertical-align: middle;
}
